.background {
    background-image: url("/src/imagens/background_pokédex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 450px;
    border-radius: 10px;
    background: rgba(43, 43, 43, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.pokemon {
    position: relative;
    top: 10%;
    align-self: center;
    width: 372px;
    height: 137px;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 20px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background: #FFCB05;
    border: 5px solid #2A74BA;
    box-shadow: -4px 4px 4px rgba(113, 106, 82, 0.6), 4px 0px 4px rgba(113, 106, 82, 0.6);
    border-radius: 20px;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #FFCB05;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.divbutton {
    position:absolute; 
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 25%;
    margin: 0 auto;
}

.textbutton {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 22px;
    color: #000000;

}

@media (max-width: 750px){
    .box{  
        width: 80%;
        height: 300px;
    }
    .pokemon{
        right: 5px;
        width: 80%;
        height: 30%;
    }
    .btn:link,
    .btn:visited{
        border-radius: 15px;
    }
    .textbutton{
        font-size: 16px;
    }
    .divbutton{
        left: 45%;
    }

}
